
  @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow:  5px 5px 20px rgba(0,0,0,0); 
    background-color: #fff;

}


.navbar.navbar-brand{
    font-size: 25px;
    font-weight: 800;
    
    color: #33a01d !important;

}

#navbarSupportedContent 
 a{
    color: #080808;

    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid #33a01d;
    transition: 1s;
}
#navbarSupportedContent button{
    background:#33a01d ;
    width: 5rem;
    border-radius: 15px;
}
#about{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: left;
    align-items: left;
    
    flex-direction: column;

}
#home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
    
    flex-direction: column;

}
/********************HOME*************************/
#home{
    background-image:url(tulips-bouquet-gift.jpg) ;
    background-size: cover;
    background-position: right;
   
    

}
#home h1{
    font-size: 60px;
    color:rgb(0, 0, 0);
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 3px 0px #ccc,
                 0px 4px 0px #ccc,
                 0px 5px 0px #ccc,
                 0px 6px 0px #ccc,
                 0px 7px 0px #ccc;
    
}
#home h2{
    font-size: 30px;
    color:rgb(230, 26, 151);
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#home .input-group{
    width: 30%;
    height: 45px;
}
.signin{
    background:#33a01d !important ;
    color: white;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);
}


.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgb(255,51,153, .05);
}
.heading span{
    color: rgb(8, 7, 7);
}

.heading{
    font-size: 3rem;
}

/* #about{
    height: 70px;
} */
.about.row{
    display: inline-flex;
    align-items: right;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 2rem;
}
.about.row .video-container video{
    position: left;
    right: 0;
    width: 300%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    height:200%;
    object-fit: cover;
}


#about{
    font-weight: 100;
    font-size: 20px;

}
.product.row{
    display: inline-flex;
    align-items: right;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{

    .img-fluid {
    max-width: 500%;
    height: auto;
}
}
.card{
    width: 350px;
    height: 200px;
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 5px 10px rgba(0,0,0,.3),
               inset 4px 4px 10px white;
    transition: .2s;
    margin: 20px 60px;
    
}
.card:hover{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.3),
               inset -4px -4px 10px white;
    transition: .2s;
}
#home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
    
    flex-direction: column;

}
/******contact************/
#contact img{
    height: 100%;
}
.box{
    width: 80% !important;
    margin-top: 10px;
}

#contact textarea{
    margin: 10px 0px;
}
 footer{
    width:100%;
    height:30px;
    background: rgb(252, 210, 236);
    margin-top: -30px;
    text-align: center;
    color:#080808;
    padding: 3px;

 }